<div class="modal fade" id="announcement_modal" role="dialog">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">New Announcement</h2>
            </div>
            <div class="modal-body">
                {% include "teacher/announcement/form.html" with form=form %}
                
                <!-- Error Message Box -->
                <div id="error_box" name="error_box" class="alert alert-danger alert-dismissable" hidden="true">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    ERROR: This is to be filled in by the "print_error" function. If you see this message that means there's an error with your javascript somewhere.
                </div><!-- /.Error Message Box -->
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-primary"
                     form="register_form"
                  onclick="ajax_create_announcement();">
                    <i class="fa fa-check-circle"></i> Submit
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    
    
    /**
     * Dynamic UI Code.
     *  To give our application a dynamic feel, the following jQuery code will be
     *  used to perform various UI changes.
     */
     $(document).ready(function(){
        // Load up a HTML editer.
        // Documents: http://jqueryte.com/documentation
        $("#id_body").jqte({
            formats:false,
            rule: false
        });
                       
        //
        // IMPORTANT:
        //  The following block of code will run when finished running this modal.
        //  Please put all jQuery unbinding code here.
        //
        // When this model hides, we will clear the contents of it.
        $('#announcement_modal').on('hidden.bs.modal', function (e) {
            $('#announcement_modal').html('');
                                    
            // Unlock button
            $('#new_announcement_btn').prop("disabled", false);
            $('#edit_{{ form.instance.announcement_id }}_btn').prop("disabled", false);
        });
    });

    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_create_announcement()
    {
        // create a FormData Object using your form dom element
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('announcement_id', $('#id_announcement_id').val());
        data.append('title', $('#id_title').val());
        data.append('body', $('#id_body').val());
        jQuery.ajax({
            url: 'save_announcement',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(json_result){
                // success code execution here
                if (json_result.status == "success")
                {
                    $('#announcement_modal').modal('hide');
                    ajax_refresh_announcements_table();
                }
                else
                {
                    print_error(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     * Prints a error box with the contents of the errors received from the server.
     */
    function print_error(json_result)
    {
        $('#error_box').prop("hidden", false); // Display error box.
    
        // Iterate through the JSON array of arrays and generate an error string.
        var message = "<b>Error(s):</b><hr/>";
        var data = $.parseJSON(json_result)
        for (var key in data) {
            if (data.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                message += "<p>" + key + ": " + data[key] + "<p>";
            }
        }
    
        // Replace the error string with the contents of the error box.
        $('#error_box').html(message);
    }
</script>
