{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Policy
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-suitcase"></i>  <a href="/teaching">Teaching</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-legal"></i> Policy
                    </li>
                </ol>

            </div>
        </div>
        <!-- /.row -->

        {% if policy == None %}
        <!-- Banner -->
        <div class="jumbotron">
            <h1>Upload Policy and Grading</h1>
            <p>A policy is required to run a course. Please update.</p>
            <p><button onclick="ajax_policy_modal();"
                            id="add_policy_btn"
                          name="add_policy_btn"
                         class="btn btn-primary btn-lg"
                          role="button">Upload »</button>
            </p>
        </div>
        <!-- /.row -->
        {% else %}
        <!-- PDF RESULT -->
        <div class="row">
            <div class="col-lg-12">
                <button onclick="ajax_delete_policy({{ policy.policy_id }});"
                             id="del_{{ policy.policy_id }}_btn"
                           name="del_{{ policy.policy_id }}_btn"
                          class="btn btn-danger btn-lg"
                           role="button">Delete</button>
                <iframe id="pdf_response" src="{{ policy.file.url }}" width="100%" height="640px"></iframe>
            </div>
        </div>
        <!-- /.row -->
        {% endif %}

<!-- Modal -->
<div id="ajax_policy_modal"
   name="ajax_policy_modal"></div>
<!-- end modal -->

<script>
    /**
     *  Function will call AJAX function to load the modal for the new course
     *  creation UI.
     */
    function ajax_policy_modal()
    {
        $('#add_policy_btn').prop("disabled", true); // Lock button
        $.ajax( 'policy_modal', {
           data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },
           type: 'post',
           success: function(result) {
               // success code execution here
               $('#ajax_policy_modal').html(result); // Update UI.
               $('#policy_modal').modal();           // Unhide view.
           },
           error: function(xhr,status,error) {
               // error code here
           },
           complete: function(xhr,status) {
               // completion code here
           }
        });
    }

    /**
     *  Function will call AJAX function to delete the teacher's policy.
     */
    function ajax_delete_policy(policy_id)
    {
        $('#del_'+policy_id+'_btn').prop("disabled", true); // Lock button
        $.ajax( 'delete_policy', {
               data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'policy_id' : policy_id
               },
               type: 'post',
               success: function(result) {
                    // success code execution here
                    if (result.status == 'success')
                    {
                        $('#del_'+policy_id+'_btn').prop("disabled", false); // Unlock button
                        refresh_page();
                    }
               },
               error: function(xhr,status,error) {
                    // error code here
               },
               complete: function(xhr,status) {
                    // completion code here
               }
        });
    }

    /**
     *  Function makes the current tab refresh the page.
     */
    function refresh_page()
    {
        window.location = '{{ tab }}';
    }
    </script>


{% endblock content %}
