{% extends 'shared_foundation/frontend_base.html' %}
{% load staticfiles i18n foundation_tags %}

{% block title %}
{% trans 'Register | Academics Today' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}
<!-- Include JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
 {% include 'shared_foundation/common_js.html' %}
 {% include 'shared_api/shared_api_view.html' %}
<script>
    $(document).ready(function () {
        // Detect "Enter" button clicked and then auto-click on our submit button.
        $(document).keypress(function(event){
            // if(event.keyCode == 13){
            //     $("#id_login_btn").click();
            // }
        });

        // ALGORITHM:
        // (1) Check to see if our browser supports "HTML Storage" and if our
        //     browser does not then we need to redirect to an error page
        //     telling the user that they are missing that technology.
        // (2) If the browser supports "HTML Storage" then attempt to check to
        //     see if the browser currently has an API key saved. If the
        //     browser has an API key saved then redirect the app into the
        //     authenticated portal.
        if (api_is_supported()) {
            if (api_is_authenticated()) {
                // window.location = "{% get_app_domain %}";
            }
        } else {
            // window.location = "{% get_app_domain %}";
        }

    }); // end Document Start
</script>


<h1>User Successfully Registered</h1>

<p>Please log in now...</p>

<p>
    <a href="{% url 'at_login_master' %}">Login</a>
</p>

<p>
    <a href="{% url 'at_index_master' %}">Back</a>
</p>

{% endblock content %}
