<!-- Modal -->
<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog" style="width:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-success pull-right" data-dismiss="modal">×</a>
                <h4>Welcome to academicstoday.ca</h4>
            </div>
            <div class="modal-body">
                <form method="post"
                      action='/login'
                        name="loginForm">
                    <p><input type="text"
                             class="span3"
                              name="email"
                              id="email"
                              placeholder="Enter Email"
                              value=""></p>
                    <p><input type="password"
                             class="span3" id="loginPassword"
                              name="loginPassword"
                       placeholder="Enter Password"></p>
                    <p><button type="submit"
                             class="btn btn-success">Sign in
                    </button> <a href="/forgotpassword">Forgot Password</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->

<script>
/**
*  Function will call AJAX function to load the register.
*/
function ajax_authenticate()
{
    var url = 'get_register';

    $.ajax( url, {
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        type: 'post',
        success: function(result) {
            // success code execution here
            $('#ajax_response_register').html(result); // Update UI.
            $('#register_modal').modal();               // Unhide view.
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
        }
    });
}

function ajax_forget_password()
{
    var url = 'get_register';
    
    $.ajax( url, {
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        type: 'post',
        success: function(result) {
               // success code execution here
            $('#ajax_response_register').html(result); // Update UI.
            $('#register_modal').modal();               // Unhide view.
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
        }
    });
}
</script>