<!-- Modal -->
<div class="modal fade" id="register_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:77%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Register</h2>
            </div>
            <div class="modal-body">
                <div class="row clearfix profile-row">
                    <form id='register_form'>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    form="register_form"
                    onclicl="ajax_update_client();">
                    <i class="fa fa-times"></i> Register
                </button>
            </div>
        </div>
    </div>
<!-- end modal -->