{% extends 'account/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Mail
                    <small>View private messages sent to you</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="/courses">Registrar</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ user.first_name }} {{ user.last_name }}
                    </li>
                    <li class="active">
                        <i class="fa fa-envelope"></i> Inbox
                    </li>

                </ol>
            </div>
        </div>
        <!-- /.row -->


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Send Message</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="Enter Email of Account in Academics Today"
                                    type="password">
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="6" placeholder="Enter Message"></textarea>
                                </div>
                                <button onclick=""
                                             id="update_password_btn"
                                           name="update_password_btn"
                                           type="button"
                                         class="btn btn-lg btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Read Message(s)</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
{% endblock content %}
