<div class="modal fade" id="new_course_modal" role="dialog">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">New Course</h2>
            </div>
            <div class="modal-body">
                {% include "registrar/my_courses/course_form.html" with form=course_form %}
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-primary"
                     form="register_form"
                  onclick="ajax_create_course();">
                    <i class="fa fa-check-circle"></i> Submit
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_create_course()
    {
        var url = 'save_new_course';
        $.ajax( url, {
            data: {
                'title': $('#id_title').val(),
                'sub_title': $('#id_sub_title').val(),
                'category': $('#id_category').val(),
                'description': $('#id_description').val(),
                'start_date': $('#id_start_date').val(),
                'finish_date': $('#id_finish_date').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'POST',
            success: function(json_result) {
                // success code execution here
                if (json_result.status == "success")
                {
                    $('#new_course_modal').modal('hide');
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }
</script>