{% extends 'teacher/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Quizzes
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="../../courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-star-half"></i> Quizzes
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        {% if quizzes.count <= 0 %}
        <!-- Assignment Banner -->
        <div class="jumbotron">
            <h1>Create a Quiz!</h1>
            <p>Create the first quiz for your course here.</p>
            <p><a href="#"
                 class="btn btn-primary btn-lg"
               onclick="ajax_quiz(0);"
                  role="button">Quiz »</a>
            </p>
        </div>
        <!-- /.row -->
        {% else %}
        <!-- Quizzes -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th>Quiz #</th>
                                      <th>Title</th>
                                      <th>
                                          <button type="button"
                                                 class="btn btn-sm btn-success"
                                               onclick="ajax_quiz(0);">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for quiz in quizzes %}
                                  <tr>
                                      <td align="left" valign="left">{{ quiz.quiz_num }}</td>
                                      <td align="left" valign="left">{{ quiz.title }}</td>
                                      <td align="left" valign="left">
                                        <button type="button"
                                              class="btn btn-sm btn-primary"
                                              onclick="view_quiz({{ quiz.quiz_id }});">
                                              <i class="fa fa-file"></i> Questions
                                        </button>
                                        <button type="button"
                                              class="btn btn-sm btn-warning"
                                              onclick="ajax_quiz({{ quiz.quiz_id }});">
                                              <i class="fa fa-pencil"></i> Edit
                                        </button>
                                        <button type="button"
                                               class="btn btn-sm btn-danger"
                                             onclick="ajax_delete_quiz({{ quiz.quiz_id }});">
                                           <i class="fa fa-minus"></i> Delete
                                        </button>
                                      </td>
                                  </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        {% endif %}

    </div>

</div>

<!-- Modal -->
<div id="ajax_quiz_modal"
   name="ajax_quiz_modal"></div>
<!-- end modal -->

<script>
    /**
     *  This function will load up the quiz question creator/editor page.
     */
    function view_quiz(quiz_id)
    {
        window.location = "quiz/" + quiz_id;
    }
    
    /**
     *  Function will call AJAX function to load the modal for the new quiz
     *  creation UI and load up the existing quiz.
     */
    function ajax_quiz(quiz_id)
    {
        var url = 'quiz_modal';
        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'quiz_id': quiz_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here-->
                $('#ajax_quiz_modal').html(result); // Update UI.
                $('#quiz_modal').modal();           // Unhide view.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will call AJAX function to delete the teacher's assignment.
     */
    function ajax_delete_quiz(quiz_id)
    {
        var url = 'delete_quiz';

        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'quiz_id' : quiz_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    refresh_page();
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function makes the current tab refresh the page.
     */
    function refresh_page()
    {
        window.location = '{{ tab }}';
    }
</script>

{% endblock content %}
