{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Student portal allows students to do course work.">
        <link type="text/plain" rel="author" href="http://www.academicstoday.ca/humans.txt" />
        <link rel="icon" href="{% static "img/favicon.ico" %}">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}">
        <title>Academics Today</title>
        
        {% for local_css_url in local_css_urls %}
            <link rel="stylesheet" href="{% static local_css_url %}">
        {% endfor %}
        
        {% for local_js_url in local_js_urls %}
            <script src="{% static local_js_url %}"></script>
        {% endfor %}
        
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
                                                
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body id="" class="index">
        <div id="wrapper">
            <!-- Navigation -->
            {% include "course/nav.html" %}

            <!-- Scripts -->
            {% csrf_token %}
            {% include "course/script.html" %}
        
            <!-- MAIN -->
            <div id="page-wrapper" style="min-height: 564px;">
                <div class="container-fluid">
                    {% if HAS_ADVERTISMENT %}
                    <!-- Ads -->
                    <br/>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="text-align: center;">
                                <iframe data-aa="68197"
                                    src="https://ad.a-ads.com/68197?size=320x50"
                                    scrolling="no"
                                    style="width:320px; height:50px; border:0px; padding:0;overflow:hidden;"
                                    allowtransparency="true"
                                    frameborder="0">
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <!-- /.Ads-->
                    {% endif %}
                    
                    <!-- Content -->
                    {% block content %}
                    {% endblock %}
                    <!-- /.Content -->
                </div><!-- /.container-fluid -->
            </div>
        
        </div><!-- /#wrapper -->

        <!-- Footer -->
        {% for local_js_url in local_js_urls %}
            <script src="{% static local_js_url %}"></script>
        {% endfor %}
    </body>
</html>
