{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Announcements

                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="/courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-bullhorn"></i> Announcements
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Announcement -->
        {% include "course/announcement/table.html" %}
        <!-- /.row -->
{% endblock content %}
