{% extends 'courses/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">
    
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Courses
                    <small>The following are the available courses on Academics Today</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="courses">Courses</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Enrollment
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Course Rows -->
        {% for course in courses %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Image -->
                        <div class="col-lg-4 text-center">
                            <img class="img-responsive" src="{% static 'img/' %}{{ course.image_filename }}" alt="">
                        </div>
                        <!-- /.Image -->
                        <!-- Course Info -->
                        <div class="col-lg-8 text-left">
                            <h2>{{ course.title }}</h2>
                            <p>{{ course.paragraph_one }}<p>
                            <p>{{ course.paragraph_two }}<p>
                            <p>{{ course.paragraph_three }}<p>
                            <p>Durration: {{ course.start_date }} to {{ course.finish_date }}</p>
                            <p align="right"><button type="button" class="btn btn-lg btn-primary">Enroll</button></p>
                        </div>
                        <!-- /.Course Info -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- /.Course Rows -->
        
    </div>
    <!-- /.container-fluid -->
    
</div>

{% endblock content %}