{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Exams
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-suitcase"></i>  <a href="/teaching">Teaching</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-star"></i> Exams
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Exams -->
        <div id="ajax_exam_table"
           name="ajax_exam_table"></div>
        <!-- /.row -->

<!-- Modal -->
<div id="ajax_exam_modal"
   name="ajax_exam_modal"></div>
<!-- end modal -->

<script>
    /**
     * When the page loads up, get the table data.
     */
    $(document).ready(function(){
        ajax_refresh_exams_table();
    });
                  
    function ajax_refresh_exams_table()
    {
        $.ajax( 'exams_table', {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                $('#ajax_exam_table').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }

    /**
     *  This function will load up the exam question creator/editor page.
     */
    function view_exam(exam_id)
    {
        window.location = "exam/" + exam_id;
    }

    /**
     *  Function will call AJAX function to load the modal for the new exam
     *  creation UI and load up the existing exam.
     */
    function ajax_exam(exam_id)
    {
        if (exam_id == 0)
        {
            $('#add_question_btn').prop("disabled", true); // Lock button
        }
        else
        {
            $('#edit_'+exam_id+'_btn').prop("disabled", true); // Lock button
        }
        $.ajax( 'exam_modal', {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'exam_id': exam_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here-->
                $('#ajax_exam_modal').html(result); // Update UI.
                $('#exam_modal').modal();           // Unhide view.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will call AJAX function to delete the teacher's exam.
     */
    function ajax_delete_exam(exam_id)
    {
        $('#del_'+exam_id+'_btn').prop("disabled", true); // Lock button
        $.ajax( 'delete_exam', {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'exam_id' : exam_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    ajax_refresh_exams_table();
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
               $('#del_'+exam_id+'_btn').prop("disabled", true); // Unlock button
            }
        });
    }
</script>

{% endblock content %}
