{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="We provide an open-source platform for online course-based learning.  Our goal is to provide a university level education for everyone the planet.">
        <meta name="keywords" content="Educational, teaching, courses, free, learning, courseware, course, online learning, online-learning, youtube lectures, lectures, lecture, exam, exams, essay, essays, tests, tests, quiz, quizzes">
        <link type="text/plain" rel="author" href="http://www.academicstoday.ca/humans.txt" />
        <link rel="icon" href="{% static "img/favicon.ico" %}">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}">
        <meta name="msvalidate.01" content="0D845C735BD4C19611239D1FDD802C63" />
        <meta name='yandex-verification' content='7db7d6658b4bc2a7' />
        <title>Academics Today</title>
        
        {% for local_css_url in local_css_urls %}
            <link rel="stylesheet" href="{% static local_css_url %}">
        {% endfor %}
        
        {% for local_js_url in local_js_urls %}
            <script src="{% static local_js_url %}"></script>
        {% endfor %}
        
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
                                                
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body id="page-top" class="index">
        <!-- Navigation -->
        {% include "landpage/nav.html" %}
        
        <!-- CSRF Token -->
        {% csrf_token %}
        
        <!-- MAIN -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% for local_js_url in local_js_urls %}
            <script src="{% static local_js_url %}"></script>
        {% endfor %}
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
             
             ga('create', 'UA-64640228-1', 'auto');
             ga('send', 'pageview');
        </script>
        <!-- /.Google Analytics -->
    </body>
</html>
