{% load staticfiles %}
<div class="modal fade" id="course_preview_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:77%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Preview</h2>
            </div>
            <div class="modal-body">
                {% if course == None %}
                <h2>ERROR</h2>
                <p>No course preview entered!</p>
                {% else %}
                <div class="row clearfix profile-row">
                    <form id='course_preview_form'>
                        <input type="hidden" id="id" name="id" value="{{ course_preview.id }}">
                        <div class="col-lg-8 col-lg-offset-2">
                            <!-- Project Details Go Here -->
                            <h2> {{ course.title }}</h2>
                            <p class="item-intro text-muted">{{ course.sub_title }}</p>
                            {% if course.file != None and course.file != '' %}
                            <img class="img-responsive" src="{{ course.file.url }}" alt="">
                            {% else %}
                            <p>Missing Image!</p>
                            {% endif %}
                            <!-- Use this area to describe your project. -->
                            {{ course.description }}
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button"
                       class="btn btn-primary"
                data-dismiss="modal"
                        form="course_preview_form"
                     onclick="">
                    <i class="fa fa-times"></i> Close Project
                </button>
            </div>
        </div>
    </div>
<!-- end modal -->