<div class="modal fade" id="register_modal" role="dialog">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Register</h2>
            </div>
            <div class="modal-body">
                <form id='register_form'>
                    <!-- FIRST NAME -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                First Name
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                      class="form-control"
                                      name="first_name"
                                        id="first_name"
                               placeholder="Enter First Name">
                            </div>
                        </div>
                    </div>
                    <!-- end FIRST NAME -->
                    <br/>
                    <!-- LAST NAME -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Last Name
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                      class="form-control"
                                       name="last_name"
                                         id="last_name"
                                placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <!-- end LAST NAME -->
                    <br/>
                    <!-- EMAIL -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                      class="form-control"
                                       name="electronic_mail"
                                         id="electronic_mail"
                                placeholder="Enter Email">
                            </div>
                        </div>
                    </div>
                    <!-- end EMAIL -->
                    <br/>
                    <!-- PASSWORD -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Password
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control"
                                    name="password"
                                    id="password"
                                    placeholder="Enter Password">
                            </div>
                        </div>
                    </div>
                    <!-- end PASSWORD -->
                    <br/>
                    <!-- REPEAT PASSWORD -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Password
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                    class="form-control"
                                    name="password_repeated"
                                    id="password_repeated"
                                    placeholder="Repeat Password Again">
                            </div>
                        </div>
                    </div>
                    <!-- end REPEAT PASSWORD -->
                    <br/>
                    <!-- 18+ -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Are you 18 or older?
                            </label>
                            <div class="col-sm-9">
                                <input type="checkbox"
                                         id="is_18_or_plus"
                                       name="is_18_or_plus"> Yes, I am 18 years or older
                            </div>
                        </div>
                    </div>
                    <!-- end 18+ -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                       class="btn btn-primary"
                        form="register_form"
                     onclick="ajax_register();">
                    <i class="fa fa-times"></i> Register
                </button>
            </div>
        </div>
    </div>
<!-- end modal -->

<script>
/**
*  Function will call AJAX function to load the register.
*/
function ajax_register()
{
    var url = 'register';
    $.ajax( url, {
        data: {
           'first_name': $('#first_name').val(),
           'last_name': $('#last_name').val(),
           'email': $('#electronic_mail').val(),
           'password': $('#password').val(),
           'password_repeated': $('#password_repeated').val(),
           'is_18_or_plus': $('#is_18_or_plus').is(':checked'),
           'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        type: 'POST',
        success: function(json_result) {
           // success code execution here
           if (json_result.status == "success")
           {
               $('#register_modal').modal('hide');
           }
           else
           {
               alert(json_result.message);
           }
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
        }
    });
}

</script>