<div class="modal fade" id="register_modal" role="dialog">
    <div class="modal-dialog" style="width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Register</h2>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" name="register_form" id="register_form">
                {% for field in form %}
                    <div class="row">
                        <div class="form-group">
                            <div class="fieldWrapper">
                                <label class="col-sm-3 control-label">
                                    {{ field.label }}
                                </label>
                                <label class="col-sm-9">
                                    {{ field }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                       class="btn btn-primary"
                        form="register_form"
                     onclick="ajax_register();">
                    <i class="fa fa-check"></i> Register
                </button>
            </div>
        </div>
    </div>
<!-- end modal -->

<script>
    /**
     * When the 'Enter' key is pressed, lets try login in.
     */
    $(document).bind("keypress.13", function(event) {
        if ($('#register_modal').is(':visible')) {
            if (event.which == 13) {
                ajax_register();
            }
        }
    });
                 
    //
    // IMPORTANT:
    //  The following block of code will run when finished running this modal.
    //  Please put all jQuery unbinding code here.
    //
    // When this model hides, we will clear the contents of it.
    $('#register_modal').on('hidden.bs.modal', function (e) {
        $(document).unbind("keypress.key13");
        $('#register_modal').remove();
        $('#ajax_response_register').html('');
    });
    
    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_register()
    {
        var url = 'register';
        $.ajax( url, {
            data: {
               'first_name': $('#id_first_name').val(),
               'last_name': $('#id_last_name').val(),
               'electronic_mail': $('#id_electronic_mail').val(),
               'password': $('#id_password').val(),
               'password_repeated': $('#id_password_repeated').val(),
               'is_18_or_plus': $('#id_is_18_or_plus').is(':checked'),
               'captcha_0': $('#id_captcha_0').val(),
               'captcha_1': $('#id_captcha_1').val(),
               'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'POST',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                    // Send the username & password now that it's in the
                    // registery and then login.
                    ajax_authenticate(
                        $('#id_electronic_mail').val(),
                        $('#id_password').val()
                    );
               }
               else
               {
                    alert(json_result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
               refresh_captcha();
            }
        });
    }

    /**
     *  Function will call AJAX function to load the register.
     */
    function ajax_authenticate(username, password)
    {
        var url = 'login';
    
        $.ajax( url, {
            data: {
               'username': username,
               'password': password,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                    $('#register_modal').modal('hide');
               
                    // Load up the course list.
                    window.location = 'courses';
               }
               else
               {
                    alert(json_result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

  /**
   * The following function will cause the captcha to refresh.
   */
  function refresh_captcha()
  {
      var url = location.protocol + "//" + window.location.hostname + ":"
      + location.port + "/captcha/refresh/";
      
      // Make the AJAX-call
      $.getJSON(url, {}, function(json) {
                //var $form = $('modal-body').parents('register_form');
                var $form = $('#register_form');
                $form.find('input[name="captcha_0"]').val(json.key);
                $form.find('img.captcha').attr('src', json.image_url);
        });
                
        return false;
  }

    // Add refresh button after field (this can be done in the template as well)
    $('img.captcha').after(
        $('<a href="#void" class="captcha-refresh">Refresh</a>')
    );
                       
    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        refresh_captcha();
    });
</script>