{% load staticfiles %}
<script>
/**
 *  Function will call AJAX function to load the particular course preview.
 */
function ajax_popup_course_preview(course_preview_id)
{
    var url = 'course_preview_modal';
    $.ajax( url, {
        data: {
           'course_preview_id': course_preview_id,
           'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        type: 'post',
        success: function(result) {
            // success code execution here
            $('#ajax_response_course_preview').html(result); // Update UI.
            $('#course_preview_modal').modal();               // Unhide view.
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
       }
    });
}
        
/**
 *  Function will call AJAX function to load the login modal.
 */
function ajax_popup_login()
{
    var url = 'login_modal';
            
    $.ajax( url, {
        data: {
           'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        type: 'post',
        success: function(result) {
            // success code execution here
            $('#ajax_response_login').html(result); // Update UI.
            $('#login_modal').modal();               // Unhide view.
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
        }
    });
}
        
/**
 *  Function will call AJAX function to load the register.
 */
function ajax_popup_register()
{
    var url = 'register_modal';
            
    $.ajax( url, {
        data: {
           'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        type: 'post',
        success: function(result) {
            // success code execution here
            $('#ajax_response_register').html(result); // Update UI.
            $('#register_modal').modal();               // Unhide view.
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here
        }
    });
}

/**
 *  Sends a message.
 */
/**
 *  Function will call AJAX function to load the register.
 */
function ajax_send_message()
{
    var url = 'save_contact_us_message';
    
    $.ajax( url, {
           data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'name': $("#name").val(),
                'email': $("#email").val(),
                'phone': $("#phone").val(),
                'message': $("#message").val()
           },
           type: 'post',
           success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    alert("Message sent!");
                    window.location = ''
                }
                else
                {
                    alert(result.message);
                }
           },
           error: function(xhr,status,error) {
                // error code here
           },
           complete: function(xhr,status) {
                // completion code here
           }
    });
}

</script>