{% extends 'registrar/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Certificates
                    <small>Credit received for completing courses</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-certificate"></i> Certificates
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="jumbotron">
            <h1>Coming Soon</h1>
            <p>
                Print and share your accomplishments with family, friends and employers. This feature is still being worked on.
            </p>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
{% endblock content %}
