{% extends 'offlandpage/base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Academics Today Privacy Policy:</h1>

<p>
Academics Today respects the authority of both its educators and students.  By using Academics Today you agree to abide by the following rules:
</p>
<ul>
    <li><b>(1)</b> Posting personal information such as phone numbers, addresses, birth dates, or any other information that can be compromised and used to perpetrate identity fraud in the discussion or comments section of the website.  However, posting email and website addresses is fine.</li>
    <li><b>(2)</b> Academics Today will respect personal information, such as your address, age, password, and any dealings with financial transactions.  However, in order to create a better site, we will be collecting macro data from our users, mainly which countries, cities, and languages are connected to people using our site.</li>
    <li><b>(3)</b> While we do not ban aliases, please note that the name you create for your account is the one that will show up on your certificate if you choose to accept one.  Also note that the administration has the right to freeze or limit your account if the alias is offensive.</li>
    <li><b>(4)</b> The posters are responsible for their own content, and Academics Today takes no responsibility for what is being posted.  However, spam, hate speech, and porn will not be tolerated, and may result in a lifetime ban.</li>
    <li><b>(5)</b> Each individual agrees to limit themselves to one account, if an address with multiple accounts is detected, Academics Today reserves the right to take appropriate actions in freezing or deleting the account.</li>
    <li><b>(6)</b> While the administrators of Academics Today have no interest in going over personal information of the educators and students, for security reasons they reserve the right to access everything that is posted or entered into this site.</li>
    <li><b>(7)</b> While the primary goal of Academics Today is not to make a profit but to create an education tool than can be used around the world, in order to keep the site running we will be allowing third party ads to appear here.  However, these ads are in no other way connected to the site, we may not necessarily agree with what they are promoting, and take no responsibility for what they may link to.</li>
</ul>

<!----------------------------------------------------------------------------->

<!-- Modal -->
<div id="ajax_modal_placeholder"
   name="ajax_modal_placeholder"></div>
<!-- end modal -->

{% endblock content %}