        <!-- True/False Questions -->
        {% for tf_question in tf_questions %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Question #{{ tf_question.question_num }}: {{ r_question.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {% include "course/quiz/tf_form.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- /.True/False  Questions -->
        
        <!-- Assignment description -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quiz #{{ quiz.quiz_num }}: {{ quiz.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ quiz.description }}</p>
                        <p>Due: {{ quiz.due_date }}</p>
                        <p>
                            <button onclick="ajax_submit_quiz();"
                                         id="submit_{{ quiz.quiz_id }}_btn"
                                       name="submit_{{ quiz.quiz_id }}_btn"
                                       type="button"
                                      class="btn btn-primary">
                                <i class="fa fa-check"></i> Submit
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->