{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Quiz
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i> <a href="/courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li>
                        <i class="fa fa-star-half"></i> <a href="/course/{{ course.id }}/quizzes">Quiz</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-star-half"></i> Quiz #{{ quiz.quiz_num }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Questions -->
        <div id="ajax_quizzes_table"
           name="ajax_quizzes_table">
           {% include "course/quiz/question_table.html" %}
        </div>
        <!-- /.row -->

<script>
    //------------------------------------------------------------------------//
    //                          TRUE/FALSE CHOICE                             //
    //------------------------------------------------------------------------//

    function ajax_submit_tf_quiz_answer(question_id, answer)
    {    
        // create a FormData Object using your form dom element
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('question_id', question_id);
        data.append('answer', answer);
    
        jQuery.ajax({
            url: {{ quiz.quiz_id }} + '/submit_tf_quiz_answer',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(result){
                if (result.status != 'success') // Print errors.
                {
                    alert(result.message);
                }
            }
        });
    }

    //------------------------------------------------------------------------//
    //                               SUBMISSION                               //
    //------------------------------------------------------------------------//
    function ajax_submit_quiz()
    {
        $('#submit_{{ quiz.quiz_id }}_btn').prop("disabled", true); // Lock button
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        jQuery.ajax({
            url: {{ quiz.quiz_id }} + '/submit_quiz',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(result){
                if (result.status != 'success') // Print errors.
                {
                    alert(result.message);
                }
                else
                {
                    $('#submit_{{ assignment.assignment_id }}_btn').prop("disabled", false); // Unlock button
                    window.location = "../quizzes"
                }
            }
        });
    }
</script>
{% endblock content %}
