<div id="QUESTION_{{ question.question_num }}">
    <p>{{ tf_question.description }}</p>
    <br/>
    <p>
        <input onclick="ajax_submit_tf_quiz_answer({{ tf_question.question_id }}, true);"
                  type="radio"
                    id="id_tf_{{ tf_question.question_num }}"
                  name="tf_{{ tf_question.question_num }}"
                 value="true"
        {% for tf_submission in tf_submissions %}
        {% if tf_submission.question == tf_question %}
        {% if tf_submission.answer == True %}
                 checked
        {% endif %}
        {% endif %}
        {% endfor %}> {{ tf_question.true_choice }}<br>
    </p>
    <p>
        <input onclick="ajax_submit_tf_quiz_answer({{ tf_question.question_id }}, false);"
                  type="radio"
                    id="id_tf_{{ tf_question.question_num }}"
                  name="tf_{{ tf_question.question_num }}"
                 value="false"
        {% for tf_submission in tf_submissions %}
        {% if tf_submission.question == tf_question %}
        {% if tf_submission.answer == False %}
                 checked
        {% endif %}
        {% endif %}
        {% endfor %}> {{ tf_question.false_choice }}<br>
    </p>
</div>
