<form>
    <input type="hidden"
             id="id_assignment_id"
           name="assignment_id"
          value={% if form.instance.assignment_id != None %}"{{ form.instance.assignment_id }}"{% else %}0{% endif %}>
    {% if form.instance.question_type != None %}
    <input type="hidden"
             id="id_question_type"
           name="question_type"
          value="{{ form.instance.question_type }}">
    {% endif %}
    <input type="hidden"
             id="id_question_id"
           name="question_id"
          value={% if form.instance.question_id != None %}"{{ form.instance.question_id }}"{% else %}0{% endif %}>
    {% for field in form %}
    <div class="row">
        <div class="form-group">
            <div class="fieldWrapper">
                <label class="col-sm-3 control-label">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
</form>
