{% extends 'teacher/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Assignments
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="../../courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-book"></i> Assignments
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        {% if assignments.count <= 0 %}
        <!-- Assignment Banner -->
        <div class="jumbotron">
            <h1>Create an Assignment!</h1>
            <p>Create the first assignment for your course here.</p>
            <p><a href="#"
                 class="btn btn-primary btn-lg"
               onclick="view_assignment(0);"
                  role="button">Assignment »</a>
            </p>
        </div>
        <!-- /.row -->
        {% else %}
        <!-- Assignments -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th>Assignment #</th>
                                      <th>Title</th>
                                      <th>
                                          <button type="button"
                                                 class="btn btn-sm btn-success"
                                               onclick="view_assignment(0);">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for assignment in assignments %}
                                  <tr>
                                      <td align="left" valign="left">{{ assignment.assignment_num }}</td>
                                      <td align="left" valign="left">{{ assignment.title }}</td>
                                      <td align="left" valign="left">
                                          <button type="button"
                                              class="btn btn-sm btn-warning"
                                              onclick="view_assignment({{ assignment.assignment_id }});">
                                              <i class="fa fa-pencil"></i> Edit
                                          </button>
                                        <button type="button"
                                               class="btn btn-sm btn-danger"
                                             onclick="ajax_delete_assignment({{ assignment.assignment_id }});">
                                           <i class="fa fa-minus"></i> Delete
                                        </button>
                                      </td>
                                  </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        {% endif %}

    </div>

</div>

<!-- Modal -->
<div id="ajax_assignment_modal"
   name="ajax_assignment_modal"></div>
<!-- end modal -->

<script>
    /**
     *  Function will call AJAX function to load the modal for the new assignment
     *  creation UI.
     */
    function view_assignment(assignment_id)
    {
        //window.location = "assignment/" + assignment_id;
        var url = 'assignment_modal';
        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'assignment_id': assignment_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here-->
                $('#ajax_assignment_modal').html(result); // Update UI.
                $('#assignment_modal').modal();           // Unhide view.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will call AJAX function to delete the teacher's assignment.
     */
    function ajax_delete_assignment(assignment_id)
    {
        var url = 'delete_assignment';

        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'assignment_id' : assignment_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    refresh_page();
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function makes the current tab refresh the page.
     */
    function refresh_page()
    {
        window.location = '{{ tab }}';
    }
</script>

{% endblock content %}
