<div class="row">
    <div class="col-lg-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 align="left" valign="left">Questions</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Question #</th>
                                <th>Type</th>
                                <th>
                                    <button onclick="ajax_question(0,0);"
                                                 id="add_question_btn"
                                               name="add_question_btn"
                                               type="button"
                                              class="btn btn-sm btn-success">
                                        <i class="fa fa-plus"></i> Question
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for essay_question in essay_questions %}
                            <tr>
                                <td align="left" valign="left">{{ essay_question.question_num }}</td>
                                <td align="left" valign="left">Essay</td>
                                <td align="left" valign="left">
                                    <button onclick="ajax_question({{ essay_question.question_id }},{{ ESSAY_QUESTION_TYPE }});"
                                                 id="edit_{{ essay_question.question_id }}_{{ ESSAY_QUESTION_TYPE }}_btn"
                                               name="edit_{{ essay_question.question_id }}_{{ ESSAY_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button onclick="ajax_delete_question({{ essay_question.question_id }},{{ ESSAY_QUESTION_TYPE }});"
                                                 id="del_{{ essay_question.question_id }}_{{ ESSAY_QUESTION_TYPE }}_btn"
                                               name="del_{{ essay_question.question_id }}_{{ ESSAY_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-danger">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% for mc_question in mc_questions %}
                            <tr>
                                <td align="left" valign="left">{{ mc_question.question_num }}</td>
                                <td align="left" valign="left">Multiple Choice</td>
                                <td align="left" valign="left">
                                    <button onclick="ajax_question({{ mc_question.question_id }},{{ MULTIPLECHOICE_QUESTION_TYPE }});"
                                                 id="edit_{{ mc_question.question_id }}_{{ MULTIPLECHOICE_QUESTION_TYPE }}_btn"
                                               name="edit_{{ mc_question.question_id }}_{{ MULTIPLECHOICE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button onclick="ajax_delete_question({{ mc_question.question_id }},{{ MULTIPLECHOICE_QUESTION_TYPE }});"
                                                 id="del_{{ mc_question.question_id }}_{{ MULTIPLECHOICE_QUESTION_TYPE }}_btn"
                                               name="del_{{ mc_question.question_id }}_{{ MULTIPLECHOICE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-danger">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% for tf_question in tf_questions %}
                            <tr>
                                <td align="left" valign="left">{{ tf_question.question_num }}</td>
                                <td align="left" valign="left">True/False</td>
                                <td align="left" valign="left">
                                    <button onclick="ajax_question({{ tf_question.question_id }},{{ TRUEFALSE_QUESTION_TYPE }});"
                                                 id="edit_{{ tf_question.question_id }}_{{ TRUEFALSE_QUESTION_TYPE }}_btn"
                                               name="edit_{{ tf_question.question_id }}_{{ TRUEFALSE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button onclick="ajax_delete_question({{ tf_question.question_id }},{{ TRUEFALSE_QUESTION_TYPE }});"
                                                 id="del_{{ tf_question.question_id }}_{{ TRUEFALSE_QUESTION_TYPE }}_btn"
                                               name="del_{{ tf_question.question_id }}_{{ TRUEFALSE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-danger">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% for r_question in r_questions %}
                            <tr>
                                <td align="left" valign="left">{{ r_question.question_num }}</td>
                                <td align="left" valign="left">Response</td>
                                <td align="left" valign="left">
                                    <button onclick="ajax_question({{ r_question.question_id }},{{ RESPONSE_QUESTION_TYPE }});"
                                                 id="edit_{{ r_question.question_id }}_{{ RESPONSE_QUESTION_TYPE }}_btn"
                                               name="edit_{{ r_question.question_id }}_{{ RESPONSE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i> Edit
                                    </button>
                                    <button onclick="ajax_delete_question({{ r_question.question_id }},{{ RESPONSE_QUESTION_TYPE }});"
                                                 id="del_{{ r_question.question_id }}_{{ RESPONSE_QUESTION_TYPE }}_btn"
                                               name="del_{{ r_question.question_id }}_{{ RESPONSE_QUESTION_TYPE }}_btn"
                                               type="button"
                                              class="btn btn-sm btn-danger">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>