{% extends 'publisher/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Catalog
            <small>View others publications and peer review them</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-book"></i> Catalog
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div id="ajax_placeholder_table"
   name="ajax_placeholder_table">
{% if publications.object_list.count == 0 %}

    <!-- No Publications Banner -->
    <div class="jumbotron">
        <h1>No Publications</h1>
        <p>
            It appears no one has published anything yet.
        </p>
    </div>
    <!-- /.jumbotron -->
    
{% else %}
{% include "publisher/catalog/table.html" %}
{% endif %}
</div><!-- /.ajax_placeholder_table -->

<!-- Modal -->
<div id="ajax_modal"
   name="ajax_modal"></div>
<!-- end modal -->

{% include 'publisher/catalog/js.html' %}
{% endblock content %}
