{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Lectures
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-suitcase"></i>  <a href="/teaching">Teaching</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li>
                        <i class="fa fa-video-camera"></i> <a href="/teacher/course/{{ course.id }}/lectures">Lectures</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file-o"></i> Notes
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Lectures -->
        <div id="ajax_lecture_table"
           name="ajax_lecture_table"></div>
        <!-- /.row -->

<!-- Modal -->
<div id="ajax_lecture_modal"
   name="ajax_lecture_modal"></div>
<!-- end modal -->

<script>
    /**
     * When the page loads up, get the table data.
     */
    $(document).ready(function(){
        ajax_refresh_lecture_notes_table();
    });
                  
    function ajax_refresh_lecture_notes_table()
    {
        var url = '/teacher/course/'+{{ course.id }}+'/lecture/'+{{ lecture.lecture_id }}+'/lecture_notes_table';
        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               $('#ajax_lecture_table').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }
    
    /**
     *  Function will call AJAX function to load the modal for the new lecture
     *  creation UI.
     */
    function ajax_lecture_note_modal(upload_id)
    {
        var url = '/teacher/course/'+{{ course.id }}+'/lecture/'+{{ lecture.lecture_id }}+'/lecture_note_modal';
        if (upload_id == 0)
        {
            $('#add_lecture_note_btn').prop("disabled", true); // Lock button
        }
        else
        {
            $('#edit_'+upload_id+'_btn').prop("disabled", true); // Lock button
        }
        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'upload_id': upload_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                $('#ajax_lecture_modal').html(result); // Update UI.
                $('#lecture_modal').modal();           // Unhide view.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will call AJAX function to delete the teacher's lecture.
     */
    function ajax_delete_lecture_note(upload_id)
    {
        var url = '/teacher/course/'+{{ course.id }}+'/lecture/'+{{ lecture.lecture_id }}+'/delete_lecture_note';
        $('#del_'+upload_id+'_btn').prop("disabled", true); // Lock button
        $.ajax( url, {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'upload_id' : upload_id
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    ajax_refresh_lecture_notes_table();
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
               // completion code here
               $('#del_'+upload_id+'_btn').prop("disabled", false); // Unlock button
            }
        });
    }
</script>

{% endblock content %}
