{% load staticfiles %}
<div class="modal fade" id="exam_modal" role="dialog">
    <div class="modal-dialog" style="width:750px;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-primary pull-right" data-dismiss="modal">×</a>
                <h4>Multiple Choice Exam</h4>
            </div>
            <div class="modal-body">
                {% include "exam/mc_form.html" %}
            </div> <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button"
                       class="btn btn-primary"
                        form="exam_form"
                     onclick="ajax_submit_exam()">
                    <i class="fa fa-check"></i> Submit
                </button>
            </div> <!-- /.modal-footer -->
        </div>
    </div>
</div>

<script>
    function ajax_submit_exam()
    {
        // create a FormData Object using your form dom element
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('exam_id', {{ exam.id }});
        data.append('student_id', {{ user.id }});
        data.append('course_id', {{ exam.course_id }});
        data.append('order_num', {{ exam.order_num }});
        data.append('type', {{ exam.type }});
        
        jQuery.ajax({
            url: 'submit_mc_exam_completion',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(result){
                if (result.status == 'success')
                {
                    $('#exam_modal').modal('hide'); // Hide modal.
                }
                else
                {
                    var message = "<strong>Failed!</strong>";
                    message += " " + result.message['file']
                    $('#danger_status_msg').html(message);
                    $("#success_status_info").hide();
                    $("#warning_status_info").hide();
                    $("#danger_status_info").show();
                }
            }
        });
    }
    
    $(document).ready(function(){
        // When this model hides, we will clear the contents of it.
        $('#exam_modal').on('hidden.bs.modal', function (e) {
            // Clear all the code inside this modal.
            $('#ajax_exam').html('');
                                  
            // When the exam tab finishes closing, then we will
            // make the 'exams' page to refresh with this function.
            refresh_current_exams_page();
        })
    });
</script>