{% extends 'shared_foundation/app_base.html' %}
{% load staticfiles i18n foundation_tags tenant_foundation_tags %}

{% block title %}
{% trans 'Finished Founding a University | Academics Today' %}
{% endblock title %}

{% block header_content %}
    <h1 class="page-header">{% trans 'Finished Founding a University' %}</h1>
{% endblock %}

{% block content %}


<!-- Include JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
{% include 'shared_foundation/common_js.html' %}
{% include 'shared_api/shared_api_view.html' %}
<script>
    //###################//
    // MEMBER VARIABLES  //
    //###################//


    //###################//
    // MEMEBER FUNCTIONS //
    //###################//


    //###################//
    //    START JS APP   //
    //###################//


    $(document).ready(function () {
        //
        // (1) Prevent using this view if API key was not granted.
        //
        if (api_is_supported()) {
            if (!api_is_authenticated()) {
                window.location = "{% get_app_domain %}{% url 'at_login_master' %}";
            }
        } else {
            window.location = "{% get_app_domain %}";
        }

    }); // end Document Start
</script>
<!-- end Include JS -->

<strong>{% trans 'Submitted!' %}</strong>
<p>{% trans 'Please wait until we approve your university. You will receive an email.' %}</p>

{% endblock content %}
