{% extends 'shared_foundation/frontend_base.html' %}
{% load staticfiles i18n foundation_tags %}

{% block title %}
{% trans 'Dashboard | Academics Today' %}
{% endblock title %}

{% block header_content %}
{% endblock header_content %}

{% block content %}

<!-- Include JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
{% include 'shared_foundation/common_js.html' %}
{% include 'shared_api/shared_api_view.html' %}
<script>
    //###################//
    // MEMBER VARIABLES  //
    //###################//


    //###################//
    // MEMEBER FUNCTIONS //
    //###################//
    

    /**
     * Function will log the user out of the account.
     */
    function perform_logout() {
        // Attempt to log out.
        api_post_logout(
            function () {
                window.location = "{% get_app_domain %}{% url 'at_login_master' %}";
            }, function() {
                alert("Failed logging out.");
            }
        );
    }

    //###################//
    //    START JS APP   //
    //###################//
    $(document).ready(function () {
        //
        // (1) Prevent using this view if API key was not granted.
        //
        if (api_is_supported()) {
            if (!api_is_authenticated()) {
                window.location = "{% get_app_domain %}{% url 'at_login_master' %}";
            }
        } else {
            window.location = "{% get_app_domain %}";
        }

    }); // end Document Start

    /**
     * Function will take the EMAIL and PASSWORD, submit the information to the
     * server and have either TRUE/FALSE
     */
    function ajax_found_a_university()
    {
        // Populate our data.
        var data = {
            'schema_name':    $('#id_schema_name').val(),
            'name':           $('#id_name').val(),
            'alternate_name': $('#id_alternate_name').val(),
        }

        // Submit to the server.
        api_post_register_university(
            data,
            function(json_results) {
                if (json_results['status'] == 'Registered') {
                    // Load up our dashboard.
                    window.location = "{% get_app_domain %}{% url 'at_university_founding_detail' %}";
                } else {
                    alert(json_results['reason']);
                }
            },
            function(xhr, status, error) {
                alert("Wrong register credentials.");
                // Convert the error json into string.
                // var string = JSON.stringify( error );
                // console.log(string);
            }
        ); // End Login
    }
</script>
<!-- end Include JS -->

<h1>Found a University</h1>

<form style="width:280px;margin:auto;">
    <input type="text" placeholder="{% trans 'Schema Name' %}" id="id_schema_name" autocapitalize="off" />
    <input type="text" placeholder="{% trans 'Official Name' %}" id="id_name" autocapitalize="off" />
    <input type="text" placeholder="{% trans 'Short Name' %}" id="id_alternate_name" autocapitalize="off" />
    <input id="id_login_btn" type="button" onclick="ajax_found_a_university();" value="{% trans 'Create University' %}" class="ui-btn ui-corner-all" />
</form>


<br />

<p>
    <a href="{% url 'at_dashboard_master' %}">Back</a>
</p>
{% endblock content %}
