{% for essay_submission in essay_submissions %}
{% if essay_submission.assignment_id == assignment.id %}
<tr>
    <td>{{ assignment.order_num }}</td>
    <td>Essay</td>
    <td><span class="badge">Complete</span></td>
    <td>{{ assignment.due_date }}</td>
    <td>{{ essay_submission.submission_date }} </td>
    <td>
        <button type="button"
            onclick="ajax_assignment_essay({{ assignment.id }});"
            class="btn btn-sm btn-primary" disabled>
            <i class="fa fa-plus"></i> Submit
        </button>
        <button type="button"
            onclick="ajax_delete_assignment({{ assignment.id }}, {{ assignment.type }});"
            class="btn btn-sm btn-danger">
            <i class="fa fa-minus"></i> Delete
        </button>
    </td>
</tr>
{% endif %}
{% empty %}
<tr>
    <td>{{ assignment.order_num }}</td>
    <td>Essay</td>
    <td><span class="badge">Incomplete</span></td>
    <td>{{ assignment.due_date }}</td>
    <td></td>
    <td>
        <button type="button"
            onclick="ajax_assignment_essay({{ assignment.id }});"
            class="btn btn-sm btn-primary">
            <i class="fa fa-plus"></i> Submit
        </button>
    </td>
</tr>
{% endfor %}

<script>
/**
 *  Function will call AJAX function to load the assignment modal.
 */
function ajax_assignment_essay(assignment_id)
{
    var url = 'assignment_essay';
    
    $.ajax( url, {
           data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'assignment_id': assignment_id,
                'student_id' : {{ user.id }},
                'course_id' : {{ course.id }}
           },
           type: 'post',
           success: function(result) {
                // success code execution here
                $('#ajax_assignment').html(result); // Update UI.
                $('#assignment_modal').modal();     // Unhide view.
           },
           error: function(xhr,status,error) {
                // error code here
           },
           complete: function(xhr,status) {
                // completion code here
           }
    });
}
</script>