<script>
/**
 *  Function will create a checkbox with specified parameters.
 */
function create_checkbox(num, key, value)
{
    // Create our question text.
    var text = " " + value;
    var id = "Question" + num + "[]";
    
    // create the necessary elements
    var label= document.createElement("label");
    var description = document.createTextNode(text);
    var checkbox = document.createElement("input");
    
    checkbox.type = "checkbox";    // make the element a checkbox
    checkbox.name = id;      // give it a name we can check on the server side
    checkbox.value = text;
    
    // We will attach an on-click event handler which will send
    // the choice that was selected by the student to our server
    // and asynchronously handle option selection.
    checkbox.onclick = function(){
        ajax_submit_multiplechoice_assignment_answer(num, key, value);
    };
    
    label.appendChild(checkbox);   // add the box to the element
    label.appendChild(description);// add the description to the element
    
    // add the label element to your div
    document.getElementById('panel-body').appendChild(label);
}

/**
 *  Function sends AJAX code to tell the controller to either set the
 *  particular question as selected or not for the option.
 */
function ajax_submit_multiplechoice_assignment_answer(num, key, value)
{
    // create a FormData Object using your form dom element
    var data = new FormData();
    data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    data.append('assignment_id', {{ assignment.id }});
    data.append('student_id', {{ user.id }});
    data.append('course_id', {{ assignment.course_id }});
    data.append('key', key);
    data.append('value', value);
    data.append('num', num);
    
    jQuery.ajax({
        url: 'submit_mc_assignment_answer',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        success: function(result){
            if (result.status != 'success') // Print errors.
            {
                alert(result.message);
            }
        }
    });
}
</script>
<form id="assignment_form" name="assignment_form">
    {% for question in questions %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Q{{ question.question_num }}: {{ question.title }}</h3>
        </div>
        <div id="panel-body" class="panel-body">
            <p>{{ question.description }}</p>
            <script>
                // The following script will get the JSON data and generate the UI.
                var jsonObject = {{ question.json_choices|safe }};
                for (var key in jsonObject) {
                    var val = jsonObject[key];
                    $('#panel-body').append("<br/>");
                    create_checkbox({{ question.question_num }}, key, val);
                    $('#panel-body').append("<br/>");
                }
            </script>
        </div>
    </div>
    {% empty %}
    <strong>Missing Questions!</strong> It appears we're missing the questions!
    {% endfor %}
</form>