{% extends 'shared_foundation/pre_app_base.html' %}
{% load staticfiles i18n foundation_tags %}

{% block title %}
{% trans 'Register | Academics Today' %}
{% endblock title %}

{% block content %}
<!-- JAVASCRIPT -->
<script>
    $(document).ready(function () {
        // Detect "Enter" button clicked and then auto-click on our submit button.
        $(document).keypress(function(event){
            if(event.keyCode == 13){
                $("#id_register_btn").click();
            }
        });

        // ALGORITHM:
        // (1) Check to see if our browser supports "HTML Storage" and if our
        //     browser does not then we need to redirect to an error page
        //     telling the user that they are missing that technology.
        // (2) If the browser supports "HTML Storage" then attempt to check to
        //     see if the browser currently has an API key saved. If the
        //     browser has an API key saved then redirect the app into the
        //     authenticated portal.
        if (api_is_supported()) {
            if (api_is_authenticated()) {
                // window.location = "{% get_app_domain %}";
            }
        } else {
            window.location = "{% get_app_domain %}{% url 'at_index_master' %}";
        }

    }); // end Document Start

    /**
     * Function will take the EMAIL and PASSWORD, submit the information to the
     * server and have either TRUE/FALSE
     */
    function ajax_register()
    {
        // Populate our data.
        var data = {
            'first_name':        $('#id_first_name').val(),
            'last_name':         $('#id_last_name').val(),
            'email':             $('#id_email').val().toLowerCase(),
            'password':          $('#id_password').val(),
            'password_repeated': $('#id_password_repeated').val(),
        }

        console.log(data);

        // Submit to the server.
        api_post_register(
            data,
            function(json_results) {
                if (json_results['status'] == 'Registered') {
                    // Load up our dashboard.
                    window.location = "{% get_app_domain %}{% url 'at_register_detail' %}";
                } else {
                    alert(json_results['reason']);
                }
            },
            function(xhr, status, error) {
                alert("Wrong register credentials.");
                // Convert the error json into string.
                // var string = JSON.stringify( error );
                // console.log(string);
            }
        ); // End Login
    }
</script>
<!-- end JAVASCRIPT -->

<!-- CONTENT -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Please Fill out Register Form' %}</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="{% trans 'First Name' %}" name="first_name" type="text" autofocus id="id_first_name" autocapitalize="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" autofocus id="id_last_name" autocapitalize="off" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="{% trans 'E-mail' %}" name="email" type="email" autofocus id="id_email" autocapitalize="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="{% trans 'Password' %}" name="password" type="password" value="" id="id_password" autocapitalize="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="{% trans 'Repeat Password' %}" name="repeat_password" type="password" value="" id="id_password_repeated" autocapitalize="off" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">{% trans 'I agree to the terms.' %}
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a onclick="ajax_register();" class="btn btn-lg btn-success btn-block">{% trans 'Register' %}</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <p>
                <a href="{% get_app_domain %}{% url 'at_index_master' %}">{% trans 'Back' %}</a>
            </p>
        </div>
    </div>
</div>
<!-- end CONTENT -->
{% endblock content %}
