<div class="row">
    <div class="col-lg-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Course Info -->
                <div class="col-lg-8 text-left">
                    <h2>{{ course.title }}
                        {% if course in teacher.courses.all %}
                            <small>[You cannot enrol in a class you currently teach!]</small>
                        {% endif %}
                    </h2>
                    {% if course.is_official %}<p align="left"><span class="badge">Offical</span></p>{% endif %}
                    <p>{{ course.description }}<p>
                    <p>Durration: {{ course.start_date }} to {{ course.finish_date }}</p>
                    <p align="right">
                    <button onclick="ajax_enrol({{ course.id }});"
                               type="button"
                              class="btn btn-lg btn-primary"
                              {% if course in teacher.courses.all %}
                              disabled=""
                              {% endif %}>
                        {% comment %}
                            If the student does not have the current course
                            then that means this student has not been
                                enrolled in the course so therefore print
                                UI acordingly.
                        {% endcomment %}
                        {% if course not in student.courses.all %}
                            <i class="fa fa-pencil"></i> Enrol
                        {% else %}
                            <i class="fa fa-level-down"></i> Continue
                        {% endif %}
                    </button>
                    </p>
                </div>
                <!-- /.Course Info -->
            </div>
        </div>
    </div>
</div>