{% extends 'teacher/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">
    
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Discussion
                    <small>Ask any questions here</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-suitcase"></i>  <a href="/teaching">Teaching</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li>
                        <i class="fa fa-fw fa-comment"></i>  <a href="/teacher/course/{{ course.id }}/discussion">Discussion</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-comment"></i> Thread #{{ thread.thread_id }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Discussion Thread -->
        <div id="ajax_discussion_table"
           name="ajax_discussion_table"></div>
        <!-- /.row -->
        
    </div>
    
</div>
<script>
    /**
     * When the page loads up, get the table data.
     */
    $(document).ready(function(){
        ajax_refresh_discussion_table();
    });
                  
    function ajax_refresh_discussion_table()
    {
        $.ajax( {{ thread.thread_id}} + '/posts_table', {
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
                // success code execution here
                $('#ajax_discussion_table').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }
    
    function ajax_new_post_modal(thread_id)
    {
        $('#add_post_btn').prop("disabled", true);
        $.ajax( thread_id + '/new_post', {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               $('#ajax_new_post').html(result); // Update UI.
               $('#new_post_modal').modal();     // Unhide view.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function ajax_insert_post(thread_id)
    {
        $('#save_post_btn').prop("disabled", true);
        
        if (typeof(thread_id)==='undefined')
        {
            thread_id = 0;
        }
    
        // Create a FormData Object using your form dom element and load
        // up the initial data first, then update it on question type.
    
        // Basic
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('title', $('#id_title').val());
        data.append('text', $('#id_text').val());
        data.append('thread_id', thread_id);
    
        jQuery.ajax({
            url: thread_id + '/insert_post',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(json_result){
                // success code execution here
                if (json_result.status == 'success')
                {
                    $('#new_post_modal').modal('hide');
                    ajax_refresh_discussion_table();
                }
                else
                {
                    print_error(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
                $('#save_post_btn').prop("disabled", false);
            }
        });
    }

    function ajax_delete_thread(thread_id)
    {
        $('#del_'+thread_id+'_btn').prop("disabled", true);
        $.ajax( thread_id + '/delete_thread', {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
               'thread_id': thread_id,
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               if (result.status == 'success')
               {
                    ajax_refresh_discussion_table(); // Reload UI.
               }
               else
               {
                    alert(result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
               $('#del_'+thread_id+'_btn').prop("disabled", false);
            }
        });
    }

    /**
     * Prints a error box with the contents of the errors received from the server.
     */
    function print_error(json_result)
    {
        $('#error_box').prop("hidden", false); // Display error box.
        
        // Iterate through the JSON array of arrays and generate an error string.
        var message = "<b>Error(s):</b><hr/>";
        var data = $.parseJSON(json_result)
        for (var key in data) {
            if (data.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                message += "<p>" + key + ": " + data[key] + "<p>";
            }
        }
    
        // Replace the error string with the contents of the error box.
        $('#error_box').html(message);
    }

</script>

<!-- Modal -->
<div id="ajax_new_post"
   name="ajax_new_post"></div>
<!-- /.Modal -->

{% endblock content %}