<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../../teaching">AcademicsToday</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">
            </i> {{ user.first_name }} {{ user.last_name }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    {% if tab != 'assignment' and tab != 'quiz' and tab != 'exam' and tab != 'peer_review' and tab != 'thread' %}
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li {% if tab == 'overview' %}class="active"{% endif %}>
                <a href="overview"><i class="fa fa-fw fa-sitemap"></i> Overview</a>
            </li>
            <li {% if tab == 'home' %}class="active"{% endif %}>
                <a href="home"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a>
            </li>
            <li  {% if tab == 'syllabus' %}class="active"{% endif %}>
                <a href="syllabus"><i class="fa fa-fw fa-info"></i> Syllabus</a>
            </li>
            <li {% if tab == 'policy' %}class="active"{% endif %}>
                <a href="policy"><i class="fa fa-fw fa-legal"></i> Grading and Policy</a>
            </li>
            <li {% if tab == 'lectures' %}class="active"{% endif %}>
                <a href="lectures"><i class="fa fa-fw fa-video-camera"></i> Lectures</a>
            </li>
            <li {% if tab == 'assignments' %}class="active"{% endif %}>
                <a href="assignments"><i class="fa fa-fw fa-book"></i> Assignments</a>
            </li>
            <li {% if tab == 'quizzes' %}class="active"{% endif %}>
                <a href="quizzes"><i class="fa fa-fw fa-star-half"></i> Quizzes</a>
            </li>
            <li {% if tab == 'exams' %}class="active"{% endif %}>
                <a href="exams"><i class="fa fa-fw fa-star"></i> Exams</a>
            </li>
            <li {% if tab == 'discussion' %}class="active"{% endif %}>
                <a href="discussion"><i class="fa fa-fw fa-comment"></i> Discussion</a>
            </li>
            <li {% if tab == 'peer_reviews' %}class="active"{% endif %}>
                <a href="peer_reviews"><i class="fa fa-fw fa-child"></i> Peer Review</a>
            </li>
            <li {% if tab == 'settings' %}class="active"{% endif %}>
                <a href="settings"><i class="fa fa-fw fa-cogs"></i> Settings</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    {% endif %}
</nav>
<script>
$(document).ready(function(){
    $('.dropdown-toggle').dropdown();
});
</script>
