{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Syllabus
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="/courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-info"></i> Syllabus
                    </li>
                </ol>

            </div>
        </div>
        <!-- /.row -->

        <!-- PDF RESULT -->
        {% if syllabus == None %}
        <div class="jumbotron">
            <h1>Syllabus</h1>
            <p>The syllabus appears to be missing. It will be up eventually.</p>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <iframe id="pdf_response" src="{{ syllabus.file.url }}" width="100%" height="640px"></iframe>
            </div>
        </div>
        <!-- /.row -->
        {% endif %}

{% endblock content %}
