{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">
    
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Exams
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="../../courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-star"></i> List Exams
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Exams -->
        <div class="row">
            <div class="col-lg-12">
                <h2>List</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Due Date</th>
                                <th>Date Submitted</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exams %}
                            {% for submission in submitted_exams %}
                            {% if submission.exam == exam %}
                            {% if submission.is_finished == True %}
                            <tr>
                                <td>{{ exam.exam_num }}</td>
                                <td>
                                    <span class="badge">Complete</span>
                                </td>
                                <td>{{ exam.due_date }}</td>
                                <td>{{ submission.submission_date }}</td>
                                <td>{{ submission.percent }}%</td>
                                <td>
                                    <button type="button"
                                        onclick=""
                                        class="btn btn-sm btn-primary" disabled>
                                        <i class="fa fa-file"></i> Continue
                                    </button>
                                    <button type="button"
                                        onclick="ajax_delete_exam_submission({{ exam.exam_id }});"
                                        class="btn btn-sm btn-danger">
                                        <i class="fa fa-minus"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ exam.exam_num }}</td>
                                <td>
                                    <span class="badge">Incomplete</span>
                                </td>
                                <td>{{ exam.due_date }}</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <button type="button"
                                        onclick="view_exam({{ exam.exam_id }});"
                                        class="btn btn-sm btn-primary">
                                        <i class="fa fa-file"></i> Begin
                                    </button>
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table -->
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    
</div>

<script>
function ajax_delete_exam_submission(exam_id)
{
    var url = 'delete_exam';
    
    $.ajax( url, {
           data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'exam_id': exam_id,
           },
           type: 'post',
           success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    refresh_current_exams_page(); // Reload UI.
                }
                else
                {
                    alert(result.message);
                }
           },
           error: function(xhr,status,error) {
                // error code here
           },
           complete: function(xhr,status) {
                // completion code here
           }
    });
}

/**
 *  Function makes the current tab refresh the page.
 */
function refresh_current_exams_page()
{
    window.location = 'exams';
}

/**
 *  Function will load up the exams view
 */
function view_exam(exam_id)
{
    window.location = "exam/" + exam_id;
}
</script>
{% endblock content %}