{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page-wrapper">
    
    <div class="container-fluid">
        
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Exams
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i>  <a href="../../courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li class="active">
                        <i class="fa fa-star"></i> List Exams
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Exams -->
        <div class="row">
            <div class="col-lg-12">
                <h2>List</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Due Date</th>
                                <th>Date Submitted</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exams %}
                            {% for submission in submitted_exams %}
                            {% if submission.exam_id == exam.id %}
                            <tr>
                                <td>{{ exam.order_num }}</td>
                                <td>
                                    {% if submission.submission_date != None %}
                                    <span class="badge">Complete</span>
                                    {% else %}
                                    <span class="badge">Incomplete</span>
                                    {% endif %}
                                </td>
                                <td>{{ exam.due_date }}</td>
                                <td>{{ submission.submission_date }} </td>
                                <td>
                                    {% if submission.submission_date != None %}
                                        <button type="button"
                                             onclick=""
                                              class="btn btn-sm btn-primary" disabled>
                                              <i class="fa fa-plus"></i> Submit
                                        </button>
                                        <button type="button"
                                             onclick="ajax_delete_exam({{ exam.id }}, {{ exam.type }});"
                                               class="btn btn-sm btn-danger">
                                               <i class="fa fa-minus"></i> Delete
                                        </button>
                                    {% else %}
                                        <button type="button"
                                            onclick="ajax_exam({{ exam.id }}, {{ exam.type }});"
                                            class="btn btn-sm btn-primary">
                                            <i class="fa fa-plus"></i> Submit
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table -->
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    
</div>

<script>
    
/**
 *  Function will delete the current logged in users exam for the
 *  given parameters.
 */
function ajax_delete_exam(exam_id, exam_type)
{
    var url = 'exam_delete';
    
    $.ajax( url, {
           data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'exam_id': exam_id,
                'exam_type': exam_type,
                'student_id' : {{ user.id }},
                'course_id' : {{ course.id }}
           },
           type: 'post',
           success: function(result) {
                // success code execution here
                if (result.status == 'success')
                {
                    refresh_current_exams_page(); // Reload UI.
                }
                else
                {
                    alert(result.message);
                }
           },
           error: function(xhr,status,error) {
                // error code here
           },
           complete: function(xhr,status) {
                // completion code here
           }
    });
}

/**
 *  Function makes the current tab refresh the page.
 */
function refresh_current_exams_page()
{
    window.location = 'exams';
}

/**
 *  Function will call AJAX function to load the exams modal.
 */
function ajax_exam(exam_id, exam_type)
{
    var url;
    if (exam_type == {{ MULTIPLECHOICE_QUESTION_TYPE }})
    {
        url = 'exam_multiplechoice';
    }
    
    $.ajax( url, {
           data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'exam_id': exam_id,
                'student_id' : {{ user.id }},
                'course_id' : {{ course.id }}
           },
           type: 'post',
           success: function(result) {
                // success code execution here
                $('#ajax_exam').html(result); // Update UI.
                $('#exam_modal').modal();     // Unhide view.
           },
           error: function(xhr,status,error) {
                // error code here
           },
           complete: function(xhr,status) {
                // completion code here
           }
    });
}
</script>

<!-- Modal -->
<div id="ajax_exam"
   name="ajax_exam"></div>
<!-- /.Modal -->

{% endblock content %}