<div id="QUESTION_{{ question.question_num }}">
    <p>{{ mc_question.description }}</p>
    <br/>
    
    {% if mc_question.a != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'A');"
                  type="checkbox"
                  name="mc"
                 value="A"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.a %}
               checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.a }}
    </p>
    {% endif %}
    {% if mc_question.b != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'B');"
                  type="checkbox"
                  name="mc"
                 value="B"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.b %}
              checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.b }}
    </p>
    {% endif %}
    {% if mc_question.c != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'C');"
                  type="checkbox"
                  name="mc"
                 value="C"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.c %}
               checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.c }}
    </p>
    {% endif %}
    {% if mc_question.d != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'D');"
                  type="checkbox"
                  name="mc"
                 value="D"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.d %}
                checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.d }}
    </p>
    {% endif %}
    {% if mc_question.e != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'E');"
                  type="checkbox"
                  name="mc"
                 value="E"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.e %}
               checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.e }}
    </p>
    {% endif %}
    {% if mc_question.f != '' %}
    <p>
        <input onclick="ajax_submit_mc_exam_answer({{ mc_question.question_id }}, 'F');"
                  type="checkbox"
                  name="mc"
                 value="F"
        {% for mc_submission in mc_submissions %}
        {% if mc_submission.question == mc_question %}
        {% if mc_submission.f %}
               checked
        {% endif %}
        {% endif %}
        {% endfor %}>
        {{ mc_question.f }}
    </p>
    {% endif %}
</div>
