<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Course #</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for course in courses.all %}
        <tr>
            <td align="left" valign="left">{{ course.id }}</td>
            <td align="left" valign="left">{{ course.title }}</td>
            <td align="left" valign="left">
            <button onclick="ajax_continue_course({{ course.id }});"
                         id="view_{{ course.id }}_btn"
                       name="view_{{ course.id }}_btn"
                       type="button"
                      class="btn btn-sm btn-primary">
                <i class="fa fa-level-down"></i> Continue
            </button>
            <button onclick="ajax_disenroll_modal({{ course.id }});"
                         id="del_{{ course.id }}_btn"
                       name="del_{{ course.id }}_btn"
                       type="button"
                      class="btn btn-sm btn-danger">
                <i class="fa fa-minus"></i> Disenroll
            </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>