{% extends 'publisher/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            My Publications
            <small>View, add and edit your publications</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-book"></i> My Publications
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div id="ajax_placeholder_table"
   name="ajax_placeholder_table">
{% if publications.count == 0 %}

<!-- No Publications Banner -->
<div class="jumbotron">
    <h1>Publish</h1>
    <p>
        Publish any type of intellectual article. It can be based on scientific findings, engineering discovery or any literary work.
    </p>
    <p><a onclick="popup_publication_modal(0);"
               id="publish_0_btn"
             name="publish_0_btn"
            class="btn btn-primary btn-lg"
             role="button">Publish Article »</a>
    </p>
</div>
<!-- /.jumbotron -->

{% else %}
    {% include "publisher/my_publication/table.html" %}
{% endif %}
</div><!-- /.ajax_placeholder_table -->

<!-- Modal -->
<div id="ajax_modal"
   name="ajax_modal"></div>
<!-- end modal -->

<!-- Ads -->
<div class="row">
    <div class="col-lg-12">
        {% if HAS_ADVERTISMENT %}
        {% include "publisher/my_publication/ad.html" %}
        {% endif %}
    </div>
</div>
<!-- /.Ads-->

{% include 'publisher/my_publication/js.html' %}
{% endblock content %}
